{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<h3 class="heading">Add Item</h3>
</p>  
<div>
    <form action="{{ url_for('add') }}" method="POST"> 
      <input id="new-task" type="text" name="itemtitle" placeholder="New Task" required/>
      <input type="submit" name="additem" value="Add Item" class="btn btn-primary btn-sm"/> 
    </form> 
</div> 
<h3 class="heading">Todo</h3>
<div> 
  <ul class="list-group list-group-flush" name="todo_items"> 
      {% for item in view_model.todo_items %} 
      <li class="list-group-item d-flex justify-content-between align-items-center">{{ item.name }}
        <div class="image-parent">
          <a href="{{ url_for('markcomplete', id=item.id)}}" name="{{ item.name }}">Mark Done</a> 
        </div>
      </li> 
      {% endfor %}     
  </ul> 
</div>
<h3 class="heading">Doing</h3>
<div> 
  <ul class="list-group list-group-flush" name="doing_items"> 
      {% for item in view_model.doing_items %} 
      <li class="list-group-item d-flex justify-content-between align-items-center">{{ item.name }}
        <div class="image-parent">
          <a href="{{ url_for('marktodo', id=item.id)}}" name="{{ item.name }}">Mark To Do</a> 
        </div>
      </li> 
      {% endfor %}     
  </ul> 
</div>
<h3 class="heading">Completed</h3>
<div> 
  <ul class="list-group list-group-flush" name="done_items"> 
      {% for item in view_model.done_items %} 
      <li class="list-group-item d-flex justify-content-between align-items-center">{{ item.name }}
      </li> 
      {% endfor %}     
  </ul> 
</div>

{% endblock %}