/* Completed */
.completed-tasks {
    text-decoration: line-through;
    color: #888;
  }

  /* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
